@model List<EmployeeCoreProject.Models.EmployeeModelClass>
<br />
<h1>Employee detail</h1>

<br />



<div>
    <a asp-action="Form">Create New</a>
</div>
<table style="border: 1px solid black;" width=80% class="table">
    <thead>
        <tr>
            <th scope="col" style="border: 1px solid black;">Id</th>
            <th scope="col" style="border: 1px solid black;">Name</th>
            <th scope="col" style="border: 1px solid black;">Email</th>
            <th scope="col" style="border: 1px solid black;">Phone_No</th>
            <th scope="col" style="border: 1px solid black;">Department</th>
            <th scope="col" style="border: 1px solid black;">Action</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row" style="border: 1px solid black;">@item.Id </td>
                <td scope="row" style="border: 1px solid black;">@item.Name </td>
                <td scope="row" style="border: 1px solid black;">@item.Email </td>
                <td scope="row" style="border: 1px solid black;">@item.PhoneNo </td>
                <td scope="row" style="border: 1px solid black;">@item.Department </td>

                <td scope="row" style="border: 1px solid black;">
                    <a onclick="return getbyID(@item.Id)"><i class="fa fa-edit"></i></a> ||
                    <a asp-action="Details" asp-controller="Emp" asp-route-id="@item.Id"><i class="fa fa-address-book"></i></a> ||
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        }

    </tbody>
</table>


@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" onclick="ClosePopup();">×</button>
    <h4 class="modal-title navbar-brand" id="myModalLabel">Add Employee</h4>
    </div>
    <div class="modal-body">
    <form>
    <div class="form-group">
    <label for="Id"></label>
    <input type="hidden" class="form-control" id="Id" placeholder="EmployeeID" disabled="disabled"/>
    </div>
    <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" placeholder="Name"/>
    </div>
    <div class="form-group">
    <label for="Email">Email</label>
    <input type="text" class="form-control" id="Email" placeholder="Email" />
    </div>
    <div class="form-group">
    <label for="PhoneNo">PhoneNo</label>
    <input type="text" class="form-control" id="PhoneNo" placeholder="PhoneNo"/>
    </div>
    <div class="form-group">
    <label for="Department">Department</label>
    <input type="text" class="form-control" id="Department" placeholder="Department"/>
    </div>
    </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="btnUpdate"  onclick="return Update();">Update</button>
    <button type="button" class="btn btn-default" onclick="ClosePopup();">Close</button>
    </div>
    </div>
    </div>
    </div> *@







<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id"></label>
                        <input type="hidden" class="form-control" id="Id" placeholder="EmployeeID" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" id="Email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label for="PhoneNo">PhoneNo</label>
                        <input type="text" class="form-control" id="PhoneNo" placeholder="PhoneNo" />
                    </div>
                    <div class="form-group">
                        <label for="Department">Department</label>
                        <input type="text" class="form-control" id="Department" placeholder="Department" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUpdate" onclick="return Update();">Update</button>
                <button type="button" class="btn btn-default" onclick="ClosePopup();">Close</button>

            </div>
        </div>
    </div>
</div>



<script src="~/js1/Employee.js"></script>